{% extends 'base.html.twig' %}

{% block title %}New Membres{% endblock %}

{% block body %}
    <h1>Create new Membres</h1>

    {{ include('membres/_form.html.twig') }}

    <a href="{{ path('app_membres_index') }}">back to list</a>
{% endblock %}
